*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: auto;
    font-family: 'poppins';
}
nav{
    border: 1px solid ;
    width:100%;
    height: fit-content;
    background-color: #FFF8EF;
    display: flex;
    justify-content: space-between;
    padding: 15px 80px;
    position: fixed;
}
.nav-brand{
    display: flex;
    align-items: center;
}
ul{
    width: auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    font-size: medium;
}
.btn-nav{
    padding: 5px 15px;
    background-color: brown;
    color: white;
    font-family: 'poppins';
    font-weight: 600;
    font-size: medium;
    border-radius: 6px;
    border: none;
    margin: 0px 10px;
}
.btn-nav a:hover{
    text-decoration: underline;
    background-color: rgb(73, 19, 19);
}
li{
    list-style: none;
    padding: 10px 10px;
}
a{
    text-decoration: none;
    color: black;
}
li a:hover{
    text-decoration: underline;
}

header {
    height: 100vh;
    width: 100%;
    background-image:url(./Sources/mateocostab_A_middle-aged_woman_in_a_blue_blouse_is_smiling_and_db191723-669b-4d3a-86cc-d08a1061ca83\ 1.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top;
    padding-top: 5em;
}
.header{
    width: auto;
    height: 100vh;
    display: flex;
    justify-content: left;
    flex-direction: column;
    padding: 100px 80px;
    background: linear-gradient(90deg, rgba(67,44,29,1) 0%, rgba(213,127,54,0) 100%);
}
h1 {
    font-size: 80px;
    font-family: DM Serif Display;
}